<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/diamonds.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>
    <title>Poker</title>
</head>
<body>

    <h1 id="pot">Pot: $100</h1>
    <div id="dealer-cards">
        <p>3<span class="red">♦️<span></p>
        <p>3<span class="black">♠️<span></p>
        <p>3<span class="black">♠️<span></p>

    </div>
    <hr>
    <div id="player-cards">
        <p>3<span class="black">♠️<span></p>
        <p>3<span class="red">♦️<span></p>

    </div>
    <div id="player-buttons">
        <button id="check-call-btn">Check</button>
        <button id="fold-btn">Fold</button>
        <button id="bet-btn">Bet</button>
    </div>
    <h3 id="player-money">$1000</h3>

    <ul id="players">

    </ul>
</body>
<script src="../static/main.js"></script>
<script src="../static/join.js"></script>
</html>